* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 900px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

form {
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

input {
  margin-bottom: 20px;
  height: 40px;
  padding: 8px;
}

.btn {
  height: 40px;
  align-self: flex-end;
  padding: 8px;
  background: none;
  border: 1px solid;
}
.btn:not(:disabled) {
  cursor: pointer;
}
.error {
  color: red;
  position: relative;
  top: -14px;
  font-size: 0.8rem;
}
